html{box-sizing:border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;text-rendering: optimizeLegibility !important;

    -webkit-font-smoothing: antialiased !important;

}*,*:before,*:after{box-sizing:inherit}
html,body{
    font-family: 'Roboto', sans-serif;height: 100%;

}
*
{
    margin:0;
    padding: 0;

}
a
{
    text-decoration: none;
}









#contact-form
{
    float: left;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}
#contact-form form
{  float: left;
    width: 50%;
    padding: 20px;
    background-color: #f0f0f0;

}
#contact-form form input,#contact-form form textarea
{
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    padding: 5px;
    outline: 0;
    border: 0;

}

#contact-form form div
{
    float: left;
    width: 100%;
   padding-right: 7.5px;
}
#contact-form form div label
{
    font-size: 22px;
    font-weight: 100;
    margin-top: 5px;
    margin-bottom: 10px;
    display: block;

}
#contact-form form button
{
    width: 100%;
    border: 0;
    font-weight: 100;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(68,108,169);

    position: relative;

    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}
#contact-form form div:hover button
{
   background-color: white;
    outline:  rgb(68,108,169) solid 1px;
    color: rgb(68,108,169);    cursor: hand;
}
/*
.table-a-container
{
    float: left;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 30px;

}
.table-a
{
    float: left;
    width: 50%;

    padding: 10px;
    text-align: center;
}

.table-a figure
{
   text-align: center;
}
.table-a img
{
   width: 85px;
   height: 85px;
}
.table-a article
{
   float: left;
   background-color: #f0f0f0;
   padding: 20px;

}*/







