
mixin addSliderA(elements)

 script.
    $(document).ready(function () {
        //initialize swiper when document ready
        var sliderA = new Swiper('.swiper-container', {
            speed:1000,
            autoplay:1500,
            loop:true
        })
    });

 .swiper-container.slider-a-container(id=elements.id)
    .swiper-wrapper
       each element in elements.items
        .swiper-slide
            .slider-a(style='background-image:url("'+element.background+'")')
            if element.text
             .slider-text #{element.text}
