extends ../../../framework/views/layouts/A.pug

block styles
    include ../styles.pug

block scripts
     include ../declare.pug
     include ../scripts.pug

block header
    include ../../../framework/views/navbar/A.pug


    +addNavbarA(body.mainNavbar,0)
block content
    div(data-ng-app="app",data-ng-controller="ctrl")
        include ../../../framework/views/sliders/A.pug
        +addSliderA(body.sliderA)

        include ../../../framework/views/tables/A.pug
        +addTableA(body.tableA)












