


mixin addPublishA(text)

 script.
     $(document).ready(function () {
         var categories = new Select("#categories", {});

     });

 style.


 .generic-container
  form.w3-row-padding
    .w3-col.s12.m6
      input(placeholder=text.title+"...").w3-input.cool-input
    .w3-col.s12.m6
             input(placeholder=text.subtitle+"...").w3-input.cool-input

    .w3-col.s12.w3-center.w3-margin-top
        h2 !{text.categories}
        .w3-col.s12.m6.l4.w3-padding-right.w3-margin-top
            .w3-card-4.w3-blue(style="height:100px")  a
        .w3-col.s12.m6.l4.w3-padding-right.w3-padding-left.w3-margin-top
            .w3-card-4.w3-blue(style="height:100px")  a
        .w3-col.s12.m6.l4.w3-padding-left.w3-margin-top
            .w3-card-4.w3-blue(style="height:100px")  a
