
include ../../../framework/views/navbar/A.pug

+addNavbarA(body.navbars.mainNavbar)


//form(action="/register",method="post")
    input(name="username")
    input(name="password")
    button(type="submit") Aceptar
//form(action="/login",method="post")
    input(name="username")
    input(name="password")
    button(type="submit") Aceptar

//form(action="/edit-user",method="post")
    input(name="username")
    input(name="name")
    input(name="surname")
    button(type="submit") Aceptar