form(action="/register",method="post")
    input(name="username")
    input(name="password")
    button(type="submit") Submit
form(action="/login",method="post")
    input(name="username")
    input(name="password")
    button(type="submit") Submit

form(action="/edit-user",method="post")
    input(name="username")
    input(name="name")
    input(name="surname")
    button(type="submit") Submit