script.

    function showInfo(msg)
    {
        var modal =$("#noCookieInfoModal");
        modal.fadeIn('fast');
        modal.find("h2").html(msg);
    }


.w3-modal.w3-center#noCookieInfoModal(data-type="nocookieinfo")
    .w3-modal-content.w3-animate-top.w3-card-8.w3-padding
        span.w3-closebtn.close-modal &times;
        h2.w3-text-blue

