script(src="/js/equalize.min.js")
script.
    $(document).ready(function () {

        $(".item").equalize("height");


    });


mixin addGrid(items)
 .w3-row-padding
   if items
    each item in items
        .w3-col.s12.m6.l4.w3-margin-top
            .w3-card-4
                header.w3-container.main-color
                    h3 !{item.nombre}
                .w3-container
                    hr
                    img.img(src=item.pic.url)
                    p !{item.descripcion}
                footer.w3-btn-block.second-color



