
script.
    $(document).on("mouseover",".article-container figure",function(e){
        var target =$(e.target).closest("figure").find("figcaption");
        target.stop();
        target.animate({"opacity":"toggle"},300);

    });

    $(document).on("mouseout", ".article-container figure", function (e) {
        var target = $(e.target).closest("figure").find("figcaption");
        target.stop();
        target.animate({"opacity": "toggle"}, 300);

    });
.article-container
 article
     header
         a
          h3.section.w3-left.w3-tag.w3-blue Espacio exterior
         h3.date.w3-right.w3-tag.w3-black 10 de marzo de 2016
         .w3-clear.w3-margin-bottom

         h1.w3-margin-bottom Lorem ipsum Neque porro
         h2.w3-margin-bottom Lorem ipsum Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...

         figure
          img.responsive-img(src="http://static.vix.com/es/sites/default/files/styles/full/public/btg/curiosidades.batanga.com/files/Las%20lunas%20de%20Saturno%20n.jpg")
          figcaption.w3-large
             b Lunas de saturno visibles al ojo humano

     p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.

     p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.

     p El trozo de texto estándar de Lorem Ipsum usado desde el año 1500 es reproducido debajo para aquellos interesados. Las secciones 1.10.32 y 1.10.33 de "de Finibus Bonorum et Malorum" por Cicero son también reproducidas en su forma original exacta, acompañadas por versiones en Inglés de la traducción realizada en 1914 por H. Rackham.



     h2 Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...

     p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.

     figure
          img.responsive-img(src="http://elonce-media.elonce.com/fotos-nuevo/2016/12/04/o_1480889932.jpg")
          figcaption.w3-large
                  b Lunas de saturno visibles al ojo humano

     p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.

     p El trozo de texto estándar de Lorem Ipsum usado desde el año 1500 es reproducido debajo para aquellos interesados. Las secciones 1.10.32 y 1.10.33 de "de Finibus Bonorum et Malorum" por Cicero son también reproducidas en su forma original exacta, acompañadas por versiones en Inglés de la traducción realizada en 1914 por H. Rackham.

     figure.audio
          audio(style="width:100%;color:red",src="a.mp3",controls)
          .caption
              img(style="width:18px;position:relative;top:0px",src="http://www.freeiconspng.com/uploads/volume-icon-32.png")
              |&nbsp;
              b Transmision en vivo desde el apollo 140
     figure.video.w3-center
             .line(style="margin-bottom:30px")

             .container
              iframe(width="560" ,height="315", src="https://www.youtube.com/embed/4UE0U3V3rmM", frameborder="0", allowfullscreen)
             .caption
                 b Video del suceso
             .line








