script(src="/js/jquery-1.12.4.min.js")
script(src='/js/angular.min.js')
script(src='/js/AngularRequest.js')
script(src="/controller/controller.js")
script(src="/js/adapter.js")
script(src="/js/socket.io.js")
script(src="/js/jquery.mobile.custom.min.js")
script(src="/js/fileReader.js")
script(src="/js/AngularRequest.js")
script(src="/js/p2p.js")
script(src="/js/audio.js")
script(src="/js/js.cookie.js")
script(src="/js/helpers.js")