<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="estilo.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="file://F:/cms_base/css/w3.css">
</head>
<body>

<nav>
    <a>Inicio</a>
    <a>Link 1</a>
    <a>Link 2</a>
</nav>

<div class="w3-row ">

    <div class="w3-col s6 m4 l4 w3-pink w3-padding" >
        <article> <figure> <img class="lunas" src="http://static.vix.com/es/sites/default/files/styles/full/public/btg/curiosidades.batanga.com/files/Las%20lunas%20de%20Saturno%20n.jpg"> <figcaption>Lunas de Saturno</figcaption> </figure>
            <p>El planeta Saturno tiene un gran número de satélites (62 con órbitas seguras),
                el mayor de los cuales, Titán, es el único satélite del Sistema Solar con una atmósfera importante.
                El sistema de satélites de Saturno ofrece varios ejemplos interesantes de dinámica orbital,
                tales como satélites coorbitales, satélites troyanos y satélites pastores. Algunos satélites también
                se encuentran en resonancia entre sí.</p>


        </article>

        
     
        </div> 
        
        <div class="w3-col s6 m6 l4 w3-red">rock

</div> <div class="w3-col s12 m2 l4 w3-yellow">popo</div>


</div>



<!--
 <div class="barra"> <a class="enlaces" href="http//google.com">Inicio</a>
     <a class="enlaces" href="http//google.com">Contacto</a>
     <a class="enlaces" href="http//google.com">   Salir</a>


    </div>

 <div class="columna5" > <p class="parrafo">algo</p> Lista 1


 </div>

 <div class="columna6"> <p class="parrafo">algo</p>
     Lista 2

 </div>


-->




<!--
<div class="margen caja padding ">

    <div class="caja-2 ">
        <ol>

            <li>Dure</li>
            <li>Ramirez</li>
            <li>Fernandez</li>
        </ol>
    </div>

</div>

<div class="lista">
    <ul class="lista-desordenada">
        <li>Felipe</li>
        <li>Fabricio</li>
        <li>Natalia</li>
    </ul>








</div>



<div class="caja3">
    <a href="http//google.com">Sitio-Web
    </a>


</div>



-->



<!--
<div class=" columna1">
    <h2>Reserva</h2>
</div>
<div class="columna2">
    <h2>Parque</h2>
</div>
<div class="columna3">
    <h2>
        <a href="http://taringa.net">Yuba</a>
    </h2>
    <ul>
        <li><a href="http://google.com">Buho</a></li>
         <li><a href="http://google.com">Mono <span class="rat">Rst</span> </a></li>
         <li>Ciervo</li>
         <li>Loro</li>




    </ul>
</div>

-->




    <!--
    <ul>
        <li><h3>historia</h3></li>
        <li><h3>matematica</h3></li>
        <li><h3>lengua</h3></li>
    </ul>


     <ul>
         <li>
             <h1>Rocio Duré</h1>
             <h2>Estudiante</h2>
             <p>
                 Descripcion del alumno blah blah blah
             </p>
         </li>

         <li>
             <h1>Gabriel Macus</h1>
             <h2>Programador</h2>
             <p>
                 Descripcion del alumno blah blah blah
             </p>
         </li>
     </ul>

    <a href="http://hotmail.com">rooci_16@hotmail.com.ar</a>
    <a href="http://google.com">google</a>


    <ol>
        <li><a href="http://twitter.com">Ir a twitter</a></li>
        <li><a href="http://facebook.com">Ir a fb</a></li>
        <li><a href="http://google.com">Ir a google</a></li>
    </ol>
    <span>R</span>
    <span>O</span>
    <span>C</span>
    <span>I</span>


    <div>R</div>
    <div>O</div>
    <div>C</div>
    <div>I</div>

    <p>
        Este es un párrafo<br>
        Aqui hicimos un salto de linea
    </p>

    <img src="http://pngimg.com/upload/car_logo_PNG1667.png">
    -->
</body>
</html>

 <div>
     <article>
     <img>
         <p>

         </p>


     </article>


 </div>