style.
    #error {
        background-color: #f44336;
        color: white;
        animation-name: erroralert;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        z-index: 10000;
    }

    @keyframes erroralert {

        100% {
            background-color: #C21F39;
        }

    }
script.
    $(document).ready(function () {


        var infoMsg = Cookies.get('errormsg');

        //https://github.com/js-cookie/js-cookie

        if (infoMsg) {

            var infoContainer = $("#error");

            infoContainer.slideDown('fast');
            infoContainer.find("h3 span").html(infoMsg);

        }

        $("#close-error").click(function (e) {

            var target = $(e.target).closest(".info-color");
            target.slideUp('fast');
            console.log("removing error");
            Cookies.remove('errormsg', {path: '/'});
        });


    });



.w3-center.info-color#error(style="width:100%;display:none")
     h3
        span
        #close-error.w3-right.w3-margin-right &times;

