link(rel='stylesheet',href=body.root+'/css/windows.css')
.w3-modal#loadingModal
     .cssload-load
       .cssload-blockcont
        .cssload-block
        .cssload-block
        .cssload-block
        .cssload-block
        .cssload-block
        .cssload-block
        .cssload-block
        .cssload-block
        .cssload-block
