H1(style="width:100%;float:left;text-align:center;padding:10px;background-color:rgb(68,108,169);margin:0px") Mensaje de #{name}
p
 pre(style="width:100%;float:left;padding:10px;font-size:18px;background-color:#f0f0f0;") #{text}
