doctype
html
    head
        block styles
        block scripts
        block meta
    body
        header.main-header
         block header
        section.main-content
          block content
        footer.main-footer
          block footer



