mixin addTableA(elements)

    .table-a-container
       each element in elements
        .table-a

          article
           if element.icon
            figure
                img(src=element.icon)
           header
             h2 #{element.title}

           p #{element.text}
